* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgb(188, 175, 203),
    rgb(233, 233, 185),
    rgb(231, 199, 218)
  );
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 800px;
  height: 450px;
  background-color: rgb(245, 244, 238);
  border-radius: 40px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
}
p {
  font-size: 1.8rem;
  margin: 0;
  padding: 10px 60px;
  text-align: center;
}
#quote {
  margin-top: 70px;
}
#next {
  margin-top: 50px;
  padding: 20px 40px;
  border: none;
  border-radius: 30px;
  background-image: linear-gradient(
    to right,
    rgb(217 194 244 / 72%),
    rgb(236, 236, 68),
    rgb(242 190 221 / 65%)
  );
  cursor: pointer;
  font-size: 1.2rem;
}
